<article class="message is-success">
  <div class="message-header">
    <p>Create a new goal</p>
    <button
      href="/profile"
      id="returnHome"
      class="delete"
      aria-label="delete"
    ></button>
  </div>
  <div class="message-body">
    Enter the title of your goal and the steps that must be completed to
    accomplish the mission
  </div>
</article>

<div class="goalInput">
  <input
    class="input is-large"
    type="text"
    name="goal-title"
    placeholder="Goal"
  />

  <input
    class="input is-success"
    type="text"
    name="goal-steps"
    placeholder="Steps to accomplishing your goal"
  />

  <button class="button is-success" id="goalInput-button">Submit</button>
</div>

<script src="./js/createGoals.js"></script>