<article class="message is-success">
  <div class="message-header">
    <p>Edit your goal</p>
    <button
      href="/profile"
      id="returnHome"
      class="delete"
      aria-label="delete"
    ></button>
  </div>
  <div class="message-body">
    Edit the title of your goal and the steps that you want to change.
  </div>
</article>

<div class="goalInput">
  <input
    class="input is-large"
    type="text"
    name="goal-title"
    value="{{goal.title}}"
  />

  <input
    class="input is-success"
    type="text"
    name="goal-steps"
    value="{{goal.description}}"
  />

  <button class="button is-success" id="editInput-button">Submit</button>
</div>

<script src="/js/editGoal.js"></script>