<!-- added login button as well-->
<div class="home-container">
  <h1 class="home-header">Goal-E</h1>
  <div class="homeMessageContainer">
    <p class="home-description">Bring your goals to the finish line</p>
    <a  href='/signup' class="start-button">Get Started</a>
    <a href="/login" class="home-login-btn">Log In</a>
  </div>
</div>

<script src="./js/homepage.js"></script>