<!--Need to add login button as well-->
<body>

  <div class="home-container">
    <h1 class="home-header">Goal-E</h1>
    <div class="home-container">
      <p class="home-description">Bring your goals to the finish line</p>
      <button class="start-button">Get Started</button>
      <button class="home-login-btn">Log In</button>
    </div>
  </div>
    <style>
body {
  background-image: url('../public/media/dave-ruck-GQZg8CrP3sc-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</body>
</html>