<h1 class="loginHeader">Goal~E</h1>

<div class="login-container"></div>
<form id="login-form">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email-login" class="form-control" />
    <label class="form-label" for="email-login">Email address</label>
  </div>
  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password-login" class="form-control" />
    <label class="form-label" for="password-login">Password</label>
  </div>
  <!-- Submit button -->
  <button type="submit" id= "loginButton" class="btn btn-primary btn-block">Log In</button>
</form>
</div>
<script src="/js/login.js"></script> 












