<h1 class="loginHeader">Goal~E</h1>
<div id="signupContainer" class="col-md-6">
  <h2 id="signupHeader">Create an Account</h2>

  <form id="signupForm" class="form signup-form">
    <div class="form-group">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
  </form>
</div>

<script src="./js/signUp.js"></script>