/* Change this from body to to primary div of homepage */
/*body {
    background-image: url('/media/dave-ruck-GQZg8CrP3sc-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }*/